# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
debug.log
output.log

# Runtime files
pids/
*.pid
*.seed
*.pid.lock

# Database files
*.sqlite
*.sqlite3
*.db
*.db-wal
*.db-shm
dump.rdb
*.sql

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo

# Build and cache
dist/
build/
.cache/
out/

# Dependencies for PM2 process manager
pm2.log
pm2.pid

# Miscellaneous
coverage/
